* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-lighter: #e0f2f1;
  --green-darker: #00897b;
  --gray-border: #ccc;
}

body {
  font-family: monospace;
}

#div__app-main {
  width: 800px;
  height: 650px;

  margin: 30px auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;

  border: 1px solid var(--green-darker);
  border-radius: 5px;

  background: var(--green-lighter);
  font-size: 22px;
  line-height: 3rem;
}

.div__separator {
  width: 100%;

  margin: 15px 0;

  border-top: 1px solid var(--green-darker);
}

.div__button--counter,
.div__input--name,
.div__box--container {
  width: 100%;
}

.div__button--counter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.div__button--counter button {
  width: 25%;
}

.div__box--container {
  display: flex;
  justify-content: space-evenly;
}

.div__box-a,
.div__box-b,
.div__box-c {
  width: 120px;
  height: 120px;

  border: 1px solid var(--gray-border);
}

.box__active {
  background-color: salmon;
}
